nav {
    background: rgba(255,255,255, 0.9) !important;
    z-index: 1;
    position: fixed !important; 
    top: 0 !important; 
    left: 0 !important;
     width: 100vw !important;
}

.navbar-nav {
    margin-left: 0 !important;
    width: 100%;
    justify-content: center; 
    
}

.navbar-light .navbar-nav .nav-link {
    margin-top: 7px;
    padding-top: 0;
    height: 33px;
    border-right: 3px solid #004085 !important;

}


/* Landing div */
#smallScreenJumbotron {
    display: none;
}
#landing {
    height: 100vh;
    background: lightgray;
    width: 100%;
    background: url('../img/office.jpeg') fixed;
    margin-top: -60px;
    padding-top: 15vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}
#landing .row {
    height: 50vh;
}
.jumbotron  {
    width: 40vw;
    margin: auto;
    background: none;
     }
.jumbotron div {
    display: flex;
    height: 190px;
}    
.jumbotron div div:nth-child(1) {
    border: 2px solid black;
    display: block;
    margin-right: 10px;
    padding: 20px 25px;
    text-align: center;
    width: 30vw;
}
.jumbotron div div:nth-child(2) {
    background: black;
    width: 20vw;
    background: url(../img/landingLogo.png) no-repeat;
    background-size: contain;
}
.jumbotron h2 {
    color :#6089b4!important;
    
}
.jumbotron h2.text-uppercase {
    font-size: 45px;
}

.landingSideBar {
    position: absolute;
    left: 0;
    top: 35vh;
    background: black;
    width: 270px;
    padding: 20px 0;
    text-align: center; 
}
.landingSideBar div {
    display: grid;
    width: 80%;
    margin: auto;
}
.landingSideBar div a {
    height: 40px;
    font-size: 19px;
}
.landingSideBar div a.bg-primary {
    height: 50px;
}
#landingLogoImageHolder {
    background-size: auto;  
}



/* Presentation div */
#presentation {
    height: 100vh;
    background: #6089b4;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    margin-top: -23px;
    padding-top: 15vh;
}

#presentation .fas {
    color: #ffc107;
    position: absolute;
    right: 49vw;
    margin-top: -75px;
}

#presentationHeader {
    height: 100px;
    padding-right: 1vw;
    padding-left: 1vw;
}
#presentationChevronDown1 {
    position: absolute;
    right: 50vw;
   
    bottom: 10vh;
}
#presentationChevronDown {
    font-size: 30px !important ; 
}
#presentationChevronDown:hover {
    color: red !important ;
}
#presentationHeader .row {
    height: 100px;
}
#presentationHeaderMainText {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#presentationHeaderSeperator {
    border-top: none !important;
}
#presentationHeaderLogo {
   
}
#presentationHeaderLogo .grid {
    display: grid;
}
#presentationHeaderLogo .grid span {
    font-size: 36px;
}
#presentationHeaderLogo .grid span.text-white {
    font-size: 36px;
    margin-bottom: -13px;
}
#presentationHeaderLogo .grid span.text-dark {
    font-size: 36px;
    margin-bottom: -13px;
}
#presentationHeaderLogoHolder {
    background: url(../img/whiteLogo.png) no-repeat;
    width: 100px
}
#presentationHeader ul {
    height: 100%;
    padding-top: 35px;
    text-align: center; 
}







/* content div */
#content {
    height: 100vh;
    background: lightgray;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    margin-top: -23px;
}


#realEstate {
    height: 100vh;
    background: lightblue;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    margin-top: -23px;
}

#offices {
    height: 100vh;
    background: lightgray;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    margin-top: -23px;
}

#contact {
    background: black;
}

footer {
    background: #fff;
}



/* SIDE BAR */
.sidebar {
   
    width: 0; /* 0 width - change this with JavaScript */
    /* position: fixed; 
    /* Stay in place */ 
    z-index: 1; /* Stay on top */
    top: 30vh;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    position: relative;
    right: 35px;
    
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    bottom: 21vh;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  #closeSideBarButton {
      display: none;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  /* Presentation (Second Screen) Carousel */
  #presentationCarousel {
    padding-top: 10vh;
  }
/* Presentation2 (Third Screen) Carousel */
  #presentationCarousel2 {
    padding-top: 10vh;
  }
  
  
  .presentationCarouselImg {
    height: 40%;
    padding-top: 30px;
    padding-left: 35px;
  }

.carousel-next-icon {
    position: absolute;
    right: 1vw;
}
.carousel-prev-icon {
    position: absolute;
    left: 1vw;
}

  .carousel-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: orangered;
  font-weight: 900;
}

.carousel-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: orangered;
  font-weight: 900;
}
#icon4a:after, #icon4b:after, #icon2a::after, #icon2b::after {
   
    color: black !important;  
}


/* CAROUSEL 3 STYLE */
#gridDisplayCarousel3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 225px;
}
#presentationCarouselImgHolder3 {
   
}

/* CAROUSEL 4 */
.presentation4 {
    background: linear-gradient(to right, #E2E2E2, #C9D6FF) !important;
}
.polygonImage  {
    -webkit-clip-path: polygon(100% 0, 0 48%, 100% 100%);
    clip-path: polygon(100% 0, 0 48%, 100% 100%);
    background: url('../img/buildingImage3.jpg');
    height: 320px;
  }
  .polygonImage2  {
    
    background: url('../img/buildingImage2.jpg');
  
  }
  .polygonImage3  {
  
    background: url('../img/buildingImage1.jpg');
  
  }
.justifyEvenly {
    justify-content: space-evenly;
}

#presentationCarousel .polygonImage  {
    width: 300px;
}

#presentationCarousel4 .carousel-inner {
    margin-top: 75px;
}

#presentationCarousel4 .polygonImage  {
    width: 300px;
}

/* CAROUSEL 5 */
.polygonImage4  {
     background: url('../img/peopleoffice1.jpg');
   
  }
  .polygonImage5  {
    
    background: url('../img/peopleoffice3.jpg');
  
  }
  .polygonImage6  {
  
    background: url('../img/peopleofficew.jpg');
  
  }

  #presentationCarousel5 .carousel-inner {
    margin-top: 75px;
}

#presentationCarousel5 .polygonImage  {
    width: 300px;
}

/* CONTACT */
#contact {
    height: 150px;
}


footer {
    height: 180px;
    white-space: nowrap;
    overflow: hidden;
}


/* PHONE STYLE */
@media screen and (max-width: 768px) {
    #navbarResponsive {
        text-align: center
    } 
    .navbar-light .navbar-nav .nav-link {
        border-right: none !important;
              }; 
   

.jumbotron {
    width: 100%;
    margin: auto;
    padding: 0;
    margin-top: 30vh;
    background: rgba(0,0,0,0.2);
}

  .jumbotron div div:nth-child(1) {
      border: none !important;
      
  }    
  #jumbotronContentHolder {
      border: none;
      width: 100%;
  }
     #smallScreenJumbotron {
         display: block;
     }
     #landingLogoImageHolder {
         display: none;
     }
     #landing {
        padding-left: 0;
     }
     #presentation {
        height: 165vh;
        width: 100%;
        padding: 10vh 0;
        overflow: hidden;
     }

    #presentationChevronDown1 {
        bottom: 14vh;
        right: 44%;
        font-size: 50px;
           } 
    #presentationCarousel , #presentationCarousel2, #presentationCarousel4 {
        padding: 15vh 0;
    }    
     #presentationCarousel5 , #presentationCarousel3{
         padding: 0;
     }
     #presentationCarousel2 {
         padding-top: 5vh;
     }
    .carousel-inner {
        padding: 0;
    } 

    .carousel-item {
        width: 100%;
    }
    .hiddenOnMobile {
        display: none;
    }  
    .mobileNoBorder {
        border: none !important;
    }
    /* text align to center only on phones */
    .text-right {
        text-align: center !important;
    }
    .carousel-control-prev {
        left: 2vw;  
    }
    .carousel-control-next {
        right: 6vw;
    }

    .jumbotron {
        background: rgba(0,0,0,0.4) !important;
        width: 100vw !important;
        height: 100vh !important;
        padding-top: 20vh !important;
    }
    .jumbotron h2 {
        color: #fff !important;
    }
    #presentationHeaderMainText {
        padding: 0;
        text-align: center; 
    }
    .openbtn {
        right: 20px;
    }
    footer {
        display: grid;
            }
    #contact {
        height: 320px;
    }  
    #contact ul {
        display: block !important;
    }   
    .mobileText {
        font-size: 18px;
    }
    .smallScreenDBlock {
        display: block !important;
    }
    #presentationCarousel5 .polygonImage {
        width: 210px;
        height: 210px;
        margin-bottom: 40px;
    }
    .presentation5 {
        height:183vh !important;
    }
    /* necessary mobile tweak */
    .justify-content-end {
        justify-content: center !important;
    }
    #presentationCarousel4 {
        width: 100%;
        height: 210px;
        margin-bottom: 40px; 
        padding: 0;
    }
    #presentationCarousel4 .polygonImage {
        width: 210px;
        height: 210px;
        margin-bottom: 40px;
    }
    .presentation4 {
        height:183vh !important;
    }
    .presentation3 {
        height: 100vh !important;
    }
    .presentation2 {
        height: 138vh !important;
    }
    .inlineFLex {
        display: inline-flex !important;
    }
    .margin0Mobile {
        margin: 0 !important;
    }



}


  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  